@charset "UTF-8";
* { margin: 0; padding: 0; }

body { width: 100%; height: 100%; font-size: 13px; font-family: 'microsoft yahei',"comic sans ms",'幼圆','黑体',sans-serif; }

a { text-decoration: none; }

/*--头部-start-*/
#title-end { width: 100%; height: 20px; background: #f1f5f6; margin-top: 48px; }

/*--头部-end--*/
/*--主体内容-start--*/
#main { width: 100%; box-sizing: border-box; padding: 10px 31px 0 38px; }

/*--昵称+手机号--*/
#main .nick { width: 100%; height: 34px; background: #eee; border: 1px solid #ccc; border-radius: 3px; position: relative; }

#main .nick label { display: block; width: 22.5%; height: 34px; text-align: center; line-height: 34px; }

#main .nick input { display: block; margin: 0; padding: 0; width: 77.5%; height: 34px; position: absolute; top: -1px; right: -1px; border: 1px solid #ccc; text-indent: 20px; }

#main .phone { margin-top: 10px; }

/*--收货地址--*/
#main .site { width: 100%; height: 166px; background: #eee; border: 1px solid #ccc; border-radius: 3px; position: relative; margin-top: 10px; }

#main .site label { display: block; width: 22.5%; height: 166px; text-align: center; line-height: 166px; }

#main .site input { display: block; margin: 0; padding: 0; width: 77.5%; height: 36px; position: absolute; border: 1px solid #ccc; text-indent: 20px; }

#main .site input.put3 { top: -1px; right: -1px; }

#main .site input.put4 { top: 37px; right: -1px; }

#main .site input.put5 { top: 75px; right: -1px; }

#main .site input.put6 { top: 113px; right: -1px; height: 52px; }

/*--提交按钮--*/
#main .btn { width: 100%; height: 34px; margin: 0; padding: 0; border: none; margin-top: 20px; display: block; font-size: 18px; text-align: center; line-height: 34px; letter-spacing: 10px; color: #fff; background: #8E488E; border-radius: 5px; }

/*--错误提示--*/
div.error { margin-top: 10px; color: #f00; }

/*--主体内容-end--*/
